<template>
  <div id='flash' v-cloak>

  </div>
</template>

<script>

export default {
  props: ['notice','alert'],
  data: function () {
    return {
    
    }
  },
  methods: {

  }
}
</script>

<style scoped>
[v-cloak] {
  display: none;
}
</style>
