<template>

  <md-dialog md-open-from="#register-button" md-close-to="#register-button" ref="register-form" v-cloak>
    <md-dialog-title>Register</md-dialog-title>

    <md-dialog-content>
      <form>
        <md-input-container md-clearable v-bind:class="{'md-input-invalid': hasError}">
          <label>E-mail</label>
          <md-input required v-model="user.email" autofocus></md-input>
        </md-input-container>
        <md-input-container md-has-password v-bind:class="{'md-input-invalid': hasError}">
          <label>Password</label>
          <md-input required v-model="user.password" type="password"></md-input>
        </md-input-container>
        <md-input-container md-has-password v-bind:class="{'md-input-invalid': hasError}">
          <label>Confirm Password</label>
          <md-input required v-model="user.password_confirmation" type="password"></md-input>
        </md-input-container>
      </form>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button class="md-primary" @click="closeDialog()">Cancel</md-button>
      <md-button class="md-primary" @click="registerSend()">Register</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>

import { HTTP } from './../http-common.js'
import { EventBus } from './../../event-bus.js';

export default {
  data: function () {
    return {
      user: {
        email: '',
        password: '',
        password_confirmation: '',
      },
      hasError: false,
    }
  },
  methods: {
    openDialog() {
      this.$refs['register-form'].open();
    },
    closeDialog() {
      this.$refs['register-form'].close();
    },
    addError() {
      this.hasError = true;
    },
    registerSend() {
      const self = this;

      HTTP.post('/users.json', {
        user: this.user
      })
      .then(function(response) {
        console.log(response)
        EventBus.$emit('noty-success', "Successfully registered. Please confirm your account. Instructions have been sent to your email.");
        self.$refs['register-form'].close();
      })
      .catch(function(error) {
        try{
          self.addError();
          console.log(error.response.data)
          EventBus.$emit('noty-error', error.response.data.errors.join("; "));
        } catch (e){
          EventBus.$emit('noty-error', "Failed to sign up for unknown reason.");
          console.log(e)
        }
      })
    }
    }
}
</script>

<style scoped>
[v-cloak] {
  display: none;
}
</style>