<!DOCTYPE html>
<html>
  <head>
    <title>Debug</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <%= javascript_pack_tag 'layout' %>
    <%= stylesheet_pack_tag 'layout' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
